# Android emulator -> host machine backend
EXPO_PUBLIC_API_BASE_URL=http://10.0.2.2:3000

# Expo project id used for push notification registration.
EXPO_PUBLIC_EAS_PROJECT_ID=a6eedfa6-45ca-41cb-b73c-aab81bb8ad6f
